@media screen and (min-width: 300px) {
	.icon {
		margin-top: 5px;
		margin-left: 5px;
		height: 40px;
		width: 40px;
	}
}

@media screen and (min-width: 700px) {
	.icon {
		margin-top: 5px;
		margin-left: 5px;
		height: 30px;
		width: 30px;
	}
}

.icon:hover {
	cursor: pointer;
	opacity: 0.8;
}