@import '../../styles/colorScheme.less';
@import '../../styles/breakWord.less';

.chat-message-area {
    width: 100%;
    overflow: auto;
}

.chat-name {
    font-style: italic;
    margin: 4px 4px 0px 4px;
    padding: 2px;
}

.chat-name__left {
    float: left;
}

.chat-name__right {
    float: right;
}

.breaker {
    width: 100%;
    height: 1px;
    clear: both;
}

.chat-message {
    border: 1px solid @borderColor;
    border-radius: 4px;
    margin: 2px 4px 4px 4px;
    padding: 2px;
    max-width: 270px;
    .breakWord();
}

.chat-message__left {
    float: left;
    background-color: @messagePartnerColor;
}

.chat-message__right {
    float: right;
    background-color: @messageMeColor;
}