<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            grise-merde_test
        </title>
        <style>
            * {
                box-sizing: border-box;
            }
        </style>
        <link rel='stylesheet' href='../grise-merde.css'/>
    </head>
    <body>
        <div class = 'grise-merde grise-merde_size_small'>

        </div>
        <br>
        <div class = 'grise-merde grise-merde_size_big'>
            
        </div>
    </body>
</html>