<html>
<head>
	<link rel="stylesheet" href="link.css">
	<link rel="stylesheet" href="icon.css">
	<link rel="stylesheet" href="checkbox.css">
</head>
<body>
	Link:
	<span class="link"> link here </span>
	<br>

	Icon:
	<img src="home-icon.png" class="icon">
	<br>

	Checkbox small:
	<div class="checkbox small">
        <input type="checkbox" id="checkboxInput1"/>
        <label for="checkboxInput1"></label>
    </div>
	<br>

	Checkbox big:
	<div class="checkbox big">
        <input type="checkbox" id="checkboxInput2"/>
        <label for="checkboxInput2"></label>
    </div>
</body>

