@media screen and (min-width: 700px) {
    .button_type_primary {
        line-height: 80px;
        height: 80px;
        width: 680px;
        border-radius: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 300px) {
    .button_type_primary {
        line-height: 64px;
        height: 64px;
        width: 240px;
        border-radius: 32px;
        padding-left: 24px;
        padding-right: 24px;
    }
}