@import '../../styles/colorScheme.less';
@import '../../styles/headlineSizes.less';

.link {
    color: @linkInactiveColor;
    &:hover {
        color: @linkHoverColor;
        cursor: pointer;
    }
}

.link_size_h1 {
    .h1();
}

.link_size_h2 {
    .h2();
}

.link_size_h3 {
    .h3();
}

.link_size_h4 {
    .h4();
}
