@import '_size_h1/link_size_h1.css' screen;
@import '_size_h2/link_size_h2.css' screen;
@import '_size_h3/link_size_h3.css' screen;
@import '_size_h4/link_size_h4.css' screen;

.link {
	color: #437892;
}

.link:hover {
	color: #1e3452;
	cursor: pointer;
}
