.link {
	color: blue;
}

@media screen and (min-width: 300px) {
	.link.h1 {
		font-size: 48px;
	}
	
	.link.h2 {
		font-size: 40px;
	}
		
	.link.h3 {
		font-size: 32px;
	}
	
	.link.h4 {
		font-size: 24px;
	}
		
	.link.h5 {
		font-size: 16px;
	}
		
	.link.h6 {
		font-size: 8px;
	}
}

@media screen and (min-width: 1200px) {
	.link.h1 {
		font-size: 42px;
	}
	
	.link.h2 {
		font-size: 32px;
	}
		
	.link.h3 {
		font-size: 28px;
	}
	
	.link.h4 {
		font-size: 21px;
	}
		
	.link.h5 {
		font-size: 14px;
	}
		
	.link.h6 {
		font-size: 7px;
	}
}

.link:hover {
	color: navy;
	cursor: pointer;
}
