<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            headline_test
        </title>
        <style>
            * {
                box-sizing: border-box;
            }
        </style>
        <link rel='stylesheet' href='../headline.css'/>
    </head>
    <body>
        <p class='headline headline_size_h1'>Заголовок h1</p>
        <p class='headline headline_size_h2'>Заголовок h2</p>
        <p class='headline headline_size_h3'>Заголовок h3</p>
        <p class='headline headline_size_h4'>Заголовок h4</p>
    </body>
</html>