table(class='table')
    tr
        each key in header
            th(class='line')=key
        each line in data
            tr(class='line')
                each key in keys
                    td(class='cell')=(key in line) ? line[key] : ''