@import "./components/Button/button.css" screen;
@import "./components/Link/link.css" screen;
@import "./components/Headline/headline.css" screen;
@import "./components/Checkbox/checkbox.css" screen;
@import "./components/Input/input.css" screen;
@import "./components/Icon/icon.css" screen;
@import "./components/Image/image.css" screen;
@import "./components/GriseMerde/grise-merde.css" screen;
@import "./components/Table/Table.css" screen;
@import "./components/Upload/Upload.css" screen;

@import "views/Dictionary/Dictionary.css" screen;

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

* {
    font-family: 'M PLUS Rounded 1c', sans-serif;;
    box-sizing: border-box;
}

.centered {
    margin-left: 25%;
}

.error-text {
    color: red;
}

.hidden-element{
    display: none;
}