<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            checkbox_test
        </title>
        <link rel='stylesheet' href='../checkbox.css'/>
        <style>
            @import '../../../main.css';
        </style>
    </head>
    <body>
        <div class='checkbox checkbox_size_small'>
            <input type='checkbox' id='1'>
            <label for='1'></label>
        </div>
        <br>
        <div class='checkbox checkbox_size_big'>
            <input type='checkbox' id='2'>
            <label for='2'></label>
        </div>
    </body>
</html>