@import '_size_big/grise-merde_size_big.css';
@import '_size_small/grise-merde_size_small.css';

.grise-merde {
    background-color: #dddddd;
    border-radius: 4px;
    text-align: center;
    margin-right: 5px;
    margin-top: 5px;
    float: left;
}
