<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            button_test
        </title>
        <link rel='stylesheet' href='../button.css'/>
    </head>
    <body>
        <div class='button button_type_primary'>
            <div class='button__text button__text_type_primary'>
                МОИ СЛОВАРИ
            </div>
        </div>
        <br/>
        <div class='button button_type_primary'>
            <div class='button__text button__text_type_primary'>
                ТАБЛИЦА ЛИДЕРОВ
            </div>
        </div>
        <br/>
        <div class='button button_type_secondary'>
            <div class='button__text button__text_type_secondary'>
                ХОРОШО
            </div>
        </div>
    </body>
</html>