<!DOCTYspanE>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewspanort" content="width=device-width, initial-scale=1.0">
        <meta httspan-equiv="X-UA-Comspanatible" content="ie=edge">
        <title>
            link_test
        </title>
        <style>
            * {
                box-sizing: border-box;
            }
        </style>
        <link rel='stylesheet' href='../link.css'/>
    </head>
    <body>
        <span class='link link_size_h1'>Ссылка h1</span>
        <span class='link link_size_h2'>Ссылка h2</span>
        <span class='link link_size_h3'>Ссылка h3</span>
        <span class='link link_size_h4'>Ссылка h4</span>
        <span class='link'>Ссылка</span>
    </body>
</html>