.input {
    /*background-color: #d9ffff;*/
    -moz-box-shadow: inset -3px -3px 10px #eee;
    -webkit-box-shadow: inset -3px -3px 10px #eee;
    box-shadow: inset -3px -3px 10px #eee;
    /*border-radius: 15px;*/
}