.checkbox_size_small {    
	width: 13px;
	height: 13px;
	display: inline-block;
	margin: 3px;
}

.checkbox_size_small label {
    width: 13px;
    height: 13px;
}

.checkbox_size_small label:after {
    width: 5px;
    height: 2px;
    top: 2px;
    left: 1px;
    border: 2px solid #8EE000;
    border-top: none;
    border-right: none;
}