<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            input_test
        </title>
        <style>
            * {
                box-sizing: border-box;
            }
        </style>
        <link rel='stylesheet' href='../input.css'/>
    </head>
    <body>
        <input type=text class='input'>
        <input type=text class='input' value='Заполненное поле' disabled>
    </body>
</html>