@import '_type_primary/button__text_type_primary.css';
@import '_type_secondary/button__text_type_secondary.css';

.button__text {
    font-weight: 700;
    letter-spacing: 0.6px;
    text-align: center;
}