@borderColor: #dddddd; 
@borderNegativeColor: #747171;

@textColor: black;
@textNegativeColor: white;
@textErrorColor: rgb(185, 12, 12);

@backgroundColor: white;
@backgroundLightNegativeColor: #dddddd;
@backgroundNegativeColor: #747171;

@linkInactiveColor: #437892;
@linkHoverColor: #1e3452;

@messagePartnerColor: rgb(255, 180, 157);
@messageMeColor: rgb(170, 204, 255);

@shadowColor: rgba(232,232,236,1);

@inputFocusColor: #437892;
@inputErrorColor: @textErrorColor;

