@textColor: black;
@textNegativeColor: white;
@textErrorColor: rgb(185, 12, 12);

@backgroundColor: white;
@backgroundLightNegativeColor: #dddddd;
@backgroundNegativeColor: #7a7a7a;

@linkInactiveColor: #437892;
@linkHoverColor: #1e3452;

@messagePartnerColor: rgb(255, 226, 112);
@messageMeColor: rgb(174, 241, 165);

@shadowColor: rgba(232,232,236,1);

@inputFocusColor: #437892;
@inputErrorColor: @textErrorColor;

@borderColor: #dddddd; 
@borderNegativeColor: @backgroundNegativeColor;

@hintBackgroundColor: #869ebe;
