<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            image_test
        </title>
        <style>
            * {
                box-sizing: border-box;
            }
        </style>
        <link rel='stylesheet' href='../image.css'/>
    </head>
    <body>
        <img src='/static/points.png' class='image image_type_profile'/>
        <img src='/static/points.png' class='image image_type_dictionary'/>
    </body>
</html>