@import '_type_primary/button_type_primary.css' screen;
@import '_type_secondary/button_type_secondary.css' screen;
@import '_type_square/button_type_square.css' screen;

@import '__text/button__text.css';

.button {
    user-select: none;
    -moz-user-select: -moz-none;
    color: black;
    background-color: white;
    margin: 5px;
    border-radius: 4px;
    border: 2px solid #696161;
}

.button:hover {
    cursor: pointer;
    color: white;
    background-color: #7ac70c;
    transition: 0.2s;
}