@media screen and (max-width: 300px) {
	img.profile {
		height: 50px;
		width: 50px;
		border-radius: 2px;
		margin: 2px;
	}

	img.dictionary {
		height: 50px;
		width: 50px;
		border-radius: 2px;
		margin: 2px;
	}
}

@media screen and (min-width: 300px) {
	img.profile {
		height: 50px;
		width: 50px;
		border-radius: 2px;
		margin: 2px;
	}

	img.dictionary {
		height: 50px;
		width: 50px;
		border-radius: 2px;
		margin: 2px;
	}
}

@media screen and (min-width: 700px) {
	img.profile {
		height: 100px;
		width: 100px;
		border-radius: 8px;
		margin: 8px;
	}

	img.dictionary {
		height: 50px;
		width: 50px;
		border-radius: 8px;
		margin: 8px;
	}
}

@media screen and (min-width: 1200px) {
	img.profile {
		height: 200px;
		width: 200px;
		border-radius: 8px;
		margin: 8px;
	}

	img.dictionary {
		height: 100px;
		width: 100px;
		border-radius: 8px;
		margin: 8px;
	}
}
