@import '../../styles/headlineSizes.less';

.headline {
    word-wrap: break-word;
    font-weight: 500;
    margin: 5px;
}

.headline_size_h1 {
    .h1();
}

.headline_size_h2 {
    .h2();
}

.headline_size_h3 {
    .h3();
}

.headline_size_h4 {
    .h4();
}