@import '_size_h1/headline_size_h1.css' screen;
@import '_size_h2/headline_size_h2.css' screen;
@import '_size_h3/headline_size_h3.css' screen;
@import '_size_h4/headline_size_h4.css' screen;

.headline {
    word-wrap: break-word;
    font-weight: 500;
    margin: 5px;
}